.frame {
  border: 1.5px solid #cdebc4;
  padding: 40px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  border-radius: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.obsah {
  display: grid;
  place-items: center;
}
.obsah .frame {
  justify-self: center;
  align-self: start;
  max-width: 100%;
  padding: 20px;
}

.article {
  display: grid;
  justify-items: center;
  margin-top: 25px;
}
.article__title {
  font-size: 18px;
  margin: 0;
  color: #02458C;
}
.article__meta {
  color: silver;
}
.article__perex {
  font-weight: bold;
  font-size: 1em;
}
.article__image {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}
.article__text {
  display: grid;
  justify-items: center;
}
.article__text p {
  align-self: center;
}
.article__important {
  border: 1.5px solid rgba(141, 133, 133, 0.17);
  padding: 10px;
  color: rgba(255, 0, 0, 0.71);
  font-weight: bold;
  font-size: 1em;
  text-align: center;
  border-radius: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.container .clanek {
  flex: 1 1 100%;
  box-sizing: border-box;
}
.container .clanek h2 {
  font-size: 1.1em;
  margin-top: 30px;
}

@media (min-width: 768px) {
  .frame {
    padding: 85px;
    font-size: 1.6em;
    max-width: 65px;
    border: 1.5px solid #e9e9e9;
  }
  .obsah .frame {
    padding: 70px 300px;
    max-width: 1000px;
  }
  .article__title {
    font-size: 20px;
  }
  .article__image {
    margin-bottom: 50px;
    max-width: 30%;
  }
  .article__important {
    padding: 20px;
    font-size: 1.2em;
    max-width: 150px;
  }
  .article__content {
    display: grid;
    justify-items: center;
  }
  .container {
    flex-direction: row;
    gap: 60px;
  }
  .container .clanek {
    flex: 1 1 calc(33.333% - 16px);
  }
  .container .clanek h2 {
    font-size: 1.2em;
  }
}
.zmenyclanek {
  flex: 1 1 calc(33.333% - 16px);
  box-sizing: border-box;
  border: 1.5px solid rgba(2, 69, 140, 0.2);
  border-radius: 10px;
  padding: 5px 5px 5px 40px;
  position: relative;
}
.zmenyclanek::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 20px;
  width: 8px;
  height: 70%;
}
.zmenyclanek--important::before {
  background-color: red;
}
.zmenyclanek--secondary::before {
  background-color: yellow;
}

@media (min-width: 768px) {
  .zmenyclanek {
    box-sizing: border-box;
    border: 1.5px solid rgba(2, 69, 140, 0.2);
    border-radius: 20px;
    padding: 20px 20px 20px 47px;
    max-width: 350px;
  }
  .zmenyclanek::before {
    top: 40px;
  }
}
.legend {
  margin-top: 20px;
}
.legend .legend-item {
  margin-left: 10px;
}
.legend .legend-item--vyluky::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 5px;
  background-color: yellow;
  margin-right: 5px;
}
.legend .legend-item--mimoradnosti::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 5px;
  background-color: red;
  margin-right: 5px;
}

.jaktofunguje {
  margin: 0 15px;
  text-align: center;
  padding: 20px;
  max-width: 800px;
}
.jaktofunguje__p {
  max-width: 100%;
}
.jaktofunguje .kalkulator,
.jaktofunguje .mapa {
  max-width: 100%;
  margin: 20px 0;
}

.jizdne {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}
.jizdne .primarybutton {
  border-radius: 5px;
  padding: 20px;
  color: #29B33F;
  box-shadow: none;
  font-size: 1rem;
  margin: 30px;
  border: 1.5px solid #29B33F;
  text-decoration: none;
}
.jizdne .secondarybutton {
  border-radius: 5px;
  padding: 20px;
  color: #02458C;
  box-shadow: none;
  font-size: 1rem;
  margin: 30px;
  border: 1.5px solid #29B33F;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  display: grid;
}

@media only screen and (min-width: 768px) {
  main {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
  }
}
main {
  margin: 15px 15px;
}

@media only screen and (min-width: 768px) {
  .mainhomepage {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: stretch;
  }
}
.mainhompeage {
  margin: 15px 15px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
  color: #02458C;
}

h3 {
  font-size: 1.2rem;
  color: #02458C;
}

a {
  font-weight: bold;
}

.menu-top {
  background-color: #02458C;
}
.menu-top .menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu-top__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #02458C;
}
.menu-top__item {
  border-bottom: 1px solid white;
}
.menu-top__link {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: white;
}
.menu-top .menu__toggler {
  color: white;
  font-size: 25px;
  margin: 15px;
}
.menu-top__logo {
  max-width: 350px;
}
.menu-top__logo img {
  width: 100%;
}
.menu-top .menu__checkbox:checked ~ .menu-top__list {
  display: block;
}
@media screen and (min-width: 799px) {
  .menu-top .menu__checkbox:checked ~ .menu-top__list {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .menu-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-top .menu__toggler {
    display: none;
  }
  .menu-top__list {
    display: flex;
    margin-left: 80px;
    padding: 0;
    list-style: none;
  }
  .menu-top__item {
    color: #ffffff;
    text-decoration: none;
    border-bottom: none;
  }
  .menu-top__logo {
    max-width: 467.46px;
    height: 129px;
  }
  .menu-top__logo img {
    height: 129px;
    width: 467.46px;
  }
  .menu-top a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
  }
}

.hero {
  background-image: url("../images/nature.jpg");
  background-size: cover;
  background-position: center;
  height: 23rem;
  color: white;
  text-align: left;
  padding-right: 0px;
  position: relative;
}
.hero .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero .hero-content {
  position: relative;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 0 20px;
}
.hero .hero-content__title {
  font-size: 2rem;
  margin: 0;
}
.hero .hero-content__text {
  font-size: 1.2rem;
}
.hero .hero-content button {
  background-color: #02458C;
  border-radius: 5px;
  padding: 10px;
  color: #ffffff;
  box-shadow: none;
  font-size: 1rem;
  margin-top: 10px;
}
@media screen and (min-width: 800px) {
  .hero {
    height: 30rem;
    padding-right: 50px;
  }
  .hero .hero-overlay {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .hero .hero-content {
    top: 40%;
    width: 35%;
    text-align: left;
  }
  .hero .hero-content__title {
    font-size: 2.6rem;
    margin: 0;
  }
  .hero .hero-content__text {
    font-size: 1.4rem;
  }
  .hero .hero-content button {
    border-radius: 5px;
    padding: 15px;
  }
}

.menu-bottom {
  background-color: rgba(123, 203, 100, 0.38);
}
.menu-bottom__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  width: 100%;
}
.menu-bottom__item {
  margin: 0px;
  padding: 2rem 1.5rem;
  color: #ffffff;
  text-decoration: none;
}
.menu-bottom a {
  color: #29B33F;
  text-decoration: none;
  font-size: 16px;
}
@media screen and (min-width: 800px) {
  .menu-bottom__list {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 6rem;
  }
  .menu-bottom__item {
    padding: 2rem 1.5rem;
  }
}

.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(123, 203, 100, 0.38);
}
.menu-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.menu-footer__item {
  margin: 0px;
  padding: 2rem 1.5rem;
  color: #ffffff;
  text-decoration: none;
}
.menu-footer a {
  color: #02458C;
  text-decoration: none;
  font-size: 16px;
}
.menu-footer__contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #29B33F;
}
@media screen and (min-width: 800px) {
  .menu-footer {
    justify-content: space-evenly;
    flex-direction: row;
  }
}/*# sourceMappingURL=style.css.map */