.obdelnik {
  border: 2px solid rgb(141 133 133 / 17%);
  padding: 70px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  }
  

  .article__title  {
    font-size: 48px;
    margin: 0;
  }
  
  .article__meta {
    color: silver;
  }
  
  .article__content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
  }
  
  .article__perex {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .article__image {
    display: block;
    width: 100%;
  }
  
  .clanek{
    display:flex;
    flex-direction:column;

  }