

.obdelnik {
  border: 1.5px solid rgb(141 133 133 / 17%);
  padding: 85px;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  text-align:center;
  border-radius:20px;
  max-width:65px;
  display: flex;
  justify-content: center;
  }
  

  .article__title  {
    font-size: 48px;
    margin: 0;
  }
  
  .article__meta {
    color: silver;
  }
  
  .article__content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
  }
  
  .article__perex {
    font-weight: bold;
    font-size: 1.2em;
  }
  
  .article__image {
    display: block;
    width: 100%;
  }
  
 
  

  .container {
    display: flex;
    gap: 60px;
    


    .clanek {
        flex: 1 1 calc(33.333% - 16px);
         box-sizing: border-box;
       

         h2{
          font-size:1.2em;
          margin-top:30px;
        }
        
    }
    
  }

  