$color-primary:#02458C;
$color-secondary:rgba(123, 203, 100, 0.38);
$color-important: #29B33F;
$default-font: "Roboto",sans-serif;
$body-text: 16px;
$color-text:#ffffff;


$spacer: 1rem;


body{
    margin:0;
    font-family:$default-font;
}


h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.2rem; }

a{
    font-weight:bold;
}

.menu-top{
    background-color:$color-primary;

    .menu__checkbox{
        position:absolute;
        left:-9999px;
    
    
     &__list{
        display:none;
        margin:0;
        padding:0;
        list-style:none;
        background-color:$color-primary;
    }
    
    &__item{
        border-bottom: 1px solid white;
    }
    
    &__link{
        display:block;
        padding:15px;
        text-decoration:none;
        color:white;
    }  

    .menu__checkbox:checked ~ .menu__list {
        display:block;
    }

    @media screen and (min-width:799px){
        .menu__checkbox:checked ~ .menu__list {
            display:block;
        }
    }

    @media screen and (min-width:800px){
        .menu__toggler{
            display:none;
        }
    
        .menu-top__list{
            display:flex;
            margin-left: 80px;    
            padding: 0;
            list-style:none;
        }
    
        .menu-top__item{
            padding: 2rem 1.5rem;
            color:$color-text;
            text-decoration:none;
        }
    }

    }


    @media screen and (min-width:800px){
    display:flex;
    justify-content: center;
    align-items: center;
    

    &__logo{
        height:129px;
        width:470.46px;
       
    }


    a{
        color:$color-text;
        text-decoration:none;
        font-size:16px;
    }

   
}

}



.hero{
    background-image: url('images/nature.jpg');
    background-size: cover; 
    background-position: center; 
    height:600px;
    color: white;  
    text-align: left; 
    padding: 50px;

    button{
        background-color:$color-primary;
        border-radius:10px;
        padding:10px;
        color:$color-text;
    }
}

.menu-bottom{
   
    background-color:$color-secondary;

    &__list {
        list-style: none;
        justify-content:center;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(5, auto); /* Vytvoříme 5 sloupců s rovnoměrným rozložením */
        gap: 0px; /* mezery mezi položkami menu */
        
    }

    &__item {
        margin: 0px;
        padding: 2rem 1.5rem;
        color:$color-text;
        text-decoration:none;
    }

    a{
        color: $color-important;
        text-decoration:none;
        font-size:16px;
    }
}

.menu-footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color:$color-secondary;


    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display:flex;
        
    }

    &__item {
        margin: 0px;
        padding: 2rem 1.5rem;
        color:$color-text;
        text-decoration:none;
    }

    a{
        color:$color-primary;
        text-decoration:none;
        font-size:16px;
    }

    &__contact{
        display:flex;
        flex-direction:column;
        align-items:center;
        color:$color-important;


    }
}