---
layout: layouts/hlavni-strana.njk
title: Hlavni strana
---

<h2>Změny v dopravě</h2>

<div class="container">
{% for prispevek in collections.zmeny | reverse %}
<div class="zmenyclanek {% if 'important' in prispevek.data.tags %}zmenyclanek--important
{% elif 'secondary' in prispevek.data.tags %}zmenyclanek--secondary
{% endif %}">
    <div class="clanek__popis">
<h3>{{ prispevek.data.title }}</h3>
<p>{{ prispevek.data.perex }}</p>
<p>Dotčené linky: {{ prispevek.data.note }}</p>
<p><a href="{{ prispevek.url }}">celý článek</a></p>
    </div>
</div>
{% endfor %}
</div>

<div style="text-align: right; padding-top:10px">
    <a href="/zmeny/">Zobrazit více změn</a>
</div>

<h2>Aktuality</h2>

<div class="container">
{% for prispevek in collections.aktuality | reverse %}
<div class="clanek">
    <div class="obdelnik">
        {% if prispevek.data.title == 'Nová výhodná 7 denní jízdenka' %}
          NOVINKA
        {% else %}
          AKTUALITA
        {% endif %}
      </div>
    
    <div class="clanek__popis">
<h3>{{ prispevek.data.title }}</h3>
<p>{{ prispevek.data.perex }}</p>
<p><a href="{{ prispevek.url }}">celý článek</a></p>
    </div>
</div>
{% endfor %}
</div>

<div style="text-align: right;">
    <a href="/aktuality/">Zobrazit více aktualit</a>
</div>

  