<footer class="site-footer">
        <div class="menu-footer">
                
            <ul class="menu-footer__list">
                <li class="menu-footer__item"><a href="#">Informace pro dopravce</a></li>
                <li class="menu-footer__item"><a href="#">Smluvní a přepravní podmínky</a></li>
                <li class="menu-footer__item"><a href="#">Tarif VDV</a></li>
                
                
            </ul>

            <div class="menu-footer__contact">
				<a class="menu-footer__contact-email" href="mailto:dispecink@kr-vysocina.cz">dispecink@kr-vysocina.cz</a>
				<span class="menu-footer__contact-phone">tel: 564 602 605</span>
            </div>

        </div>
    </footer>