---
layout: layouts/hlavni-sablona.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- Hero sekce s obrázkem a hlavním nadpisem -->
	<section class="hero">
        <div class="hero-overlay"></div>
        <div class="hero-content">
    
            
            <h1 class="hero-content__title">Cestování po kraji Vysočina</h1>
    
            <p class="hero-content__text">
                Snadně / Jednoduše / Pohodlně
            </p>

            <a href="/jaktofunguje/"><button>Jak to funguje?</button></a>
        </div>
    </section>

    <section class="site-header">
		
        <div class="menu-bottom">
                
                <ul class="menu-bottom__list">
                    <li class="menu-bottom__item"><a href="https://idos.idnes.cz/odis/spojeni/">Vyhledání spojení IDOS</a></li>
                    <li class="menu-bottom__item"><a href="/jizdne-a-tarif/">Jízdné</a></li>
                    <li class="menu-bottom__item"><a href="#">Seznam linek</a></li>
                    <li class="menu-bottom__item"><a href="https://tim.abirun.eu/KrajVysocina/TarifniPocitadlo/Mapa">Mapa</a></li>
                    <li class="menu-bottom__item"><a href="https://www.kr-vysocina.cz/assets/File.ashx?id_org=450008&id_dokumenty=4125708">24hodinová a 7denní jízdenka</a></li>
                </ul>
        </div>
            
    </section>


<main class="mainhomepage">

	<!--
		zde se vloží obsah stránky (nebo šablony),
		která používá tuto šablonu
	-->
	{{ content | safe }}


</main>



<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}